# ~/.gitconfig
#
# User specific git-config file, best viewed with `.ini` syntax highlighting.
#
# @see http://git-scm.com/docs/git-config

[core]
autocrlf    = false
editor      = nano
#excludefile = C:\\Users\\Fleshgrinder\\.gitignore
excludefile = ~/.gitignore

[filter "lfs"]
clean       = git-lfs clean %f
smudge      = git-lfs smudge %f
required    = true

[gitflow "prefix"]
feature     = feature-
release     = release-
hotfix      = hotfix-
support     = support-
versiontag  = v

[github]
user        = Fleshgrinder

[http]
postBuffer  = 524288000

[push]
default     = simple

[user]
name        = Richard Fussenegger
email       = fleshgrinder@users.noreply.github.com
