# ~/.gitconfig
#
# User specific git-config file, best viewed with `.ini` syntax highlighting.
#
# @see http://git-scm.com/docs/git-config

[core]
attributesFile  = ~/.gitattributes
autocrlf        = input
editor          = ~/scoop/apps/notepad2-mod/current/Notepad2.exe
eol             = lf
excludesFile    = ~/.gitignore
fscache         = true
ignoreCase      = true
preloadIndex    = true
symlinks        = true

[fetch]
prune           = true

[remote "origin"]
prune           = true

[remote "upstream"]
prune           = true

[push]
default         = current

[user]
name            = Richard Fussenegger
email           = fleshgrinder@users.noreply.github.com

[github]
user            = Fleshgrinder
